body, html{
  padding:0;
  margin:0;
  overflow-x:hidden;
}

body{
  background:#EBEBEB;
  line-height:1.5rem;
  font: 300 16px/1.6 "RobotoDraft",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

#site-navbar .brand-logo{
	outline:none;
}

#site-navbar .brand-logo img,
#site-navbar #slide-out img{
	max-height:60px;
	transition:all 0.3s ease-in;
}

#site-navbar.big .brand-logo img{
	max-height:100px;
	position:relative;
	top:15px;
}
#site-navbar.big .navbar-fixed,
#site-navbar.big .navbar-fixed nav,
#site-navbar.big .navbar-fixed nav ul.hide-on-med-and-down{
	min-height:125px;	
}

#site-navbar.big .navbar-fixed,
#site-navbar.big .navbar-fixed nav
{
	background:rgba(0, 0, 0, 0.31)!important;
}

#site-navbar.big .navbar-fixed nav ul.hide-on-med-and-down li a{
	margin:2rem 0;
	color:#fff!important;
	font-weight:600;
}

#site-navbar.big .navbar-fixed nav ul.hide-on-med-and-down li a:hover{
	background:#000!important;
	border-bottom:2px solid orange;
}

#site-navbar.big .navbar-fixed nav .button-collapse {
    top: 25%;
}

#site-slider {
	position:relative;
	top:-120px;
	left:0;
	right:0;
	margin-bottom:-120px;
}

#site-slider .item{
    min-height: 650px;
    max-height: 700px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

#site-slider .item .slider-title{
	position:absolute;
	color:#fff!important;
	text-align:left;
	top:30%;
	width:60%;
	left:10%;
}
#site-slider .controls{
	position:absolute;
	top:50%;
	cursor:pointer;
}
#site-slider .controls.left{
	left:1%;
}
#site-slider .controls.right{
	right:1%;
}

#products{
	margin:3rem 0 2rem;
}

.pad-tb-50{
	padding:5rem 0;
}
.mar-tb-3{
	margin:3rem 0;
}
.mar-tb-5{
	margin:5rem 0;
}
.mar-tb-0{
	margin:0rem 0;
}
.mar-b-50{
	margin-bottom:5rem;
}

.no-pad{padding:0!important}

#pricing{
	background: #fff;
}
#pricing .card{
	border-bottom: 4px solid rgba(3, 169, 244, 0.68);
	margin:3rem .3rem 2rem 0;   
}
#pricing .card .card-image{
	padding:1rem 0;
}
#pricing .hide-on-small-only .col .card{
	min-height:470px;
}
#pricing .hide-on-small-only .col .card .card-image{
	min-height:390px;
}
#pricing .hide-on-small-only .col:nth-child(3) .card{
	min-height:490px;
	position:relative;
	top:-10px;
}

#contact-table tbody tr td:nth-child(1){ width:35%;text-align:right;font-weight:bold;vertical-align:top }
#contact-table tbody tr td:nth-child(2){ width:65%;text-align:left }

#contact .input-field .prefix{
	margin-top:1rem;
}
.wht-bdr{
	border:2px solid #fff !important;
}
.blk-bdr{
	border:1px solid #000 !important;
}

.separator-default,
.separator-white{    
    margin: 0 auto 20px;
    max-width: 240px;
    text-align: center;
    position: relative;
}

.separator:before {
    float: left;
}
.separator:after {
    float: right;
}

.separator-default:before, 
.separator-default:after,
.separator-white:before, 
.separator-white:after{
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
}

.separator-default{ color: #000; }
.separator-white{ color: #fff; }
.separator-default:before, 
.separator-default:after{ border: 1px solid #000; }
.separator-white:before, 
.separator-white:after{ border: 1px solid #fff; }

#mslide{ 
	padding:3em 0;
	margin-bottom:5em;
}	
#slid{ 
	background-image:url("../img/tee/1.jpg");
	display:block;
	width: 100%;
    min-height: 300px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 60% 80%;
}
#slid div{ 
	text-align: center;
}
#slid div img{ 
    width: 60%;
    position: relative;
    top: 50px;
}

.mobile .demo-controls{ 
    position: relative;
    top: 30px;
}
.desktop .demo-controls{ 
    position: relative;
    top: -190px;
} 
.demo-controls.left{ left:60px;}
.demo-controls.right{ right: 60px}

@media only screen and (max-width: 600px) {
  	#slid{ 
		background-position: 50% 0%;
	    background-size: 100% 80%;
	}
	#slid div img {
	    width: 100%;
	    position: relative;
	    top: 55px;
	}
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }

}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
  	#slid{ 
		background-position: 50% 0%;
	    background-size: 90% 80%;
	}
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}