<div class="contents about">
    <div class="content_hightlight">
        <h1 class="title_main">Bringing Visual Effects<br/>into Real World</h1> <span class="desc">Started as a visual effects software company,<br/>now we create real world products only existed by visual effects in movies.</span> </div>
    <div class="content_fxgear">
        <div class="content_box">
            <div class="title_logo"> <img src="http://img.fxmirror.net/aboutus/img_fxgear_logo.png?_=1.0.036" alt="FXGear"> </div> <span class="desc">FXGear Inc. is an augmented reality (AR) and virtual reality (VR) technology<br/>company founded by computer graphics experts.<br/>Based on a decade long experience of introducing cutting-edge computer graphics software solutions<br/>to visual effects, game, and mobile industry,<br/>FXGear provides distinguished AR/VR products and services to customers<br/>with FXMirror, a virtual fitting solution and NOON VR, a virtual reality contents platform.</span> <span class="fxgear_info">For more information, please visit FXGear's <span class="fxgear_info_bold"><a target="_blank" href="http://fxgear.net">website</a></span></span>
        </div>
    </div>
    <div class="content_biz_title">
        <h1 class="title">BUSINESS AREAS</h1></div>
    <div class="area_contents content_2012">
        <div class="years"><img src="http://img.fxmirror.net/aboutus/img_2012.png?_=1.0.036" alt="2012"></div>
        <div class="desc">
            <div class="line_bar"></div>
            <div class="content_title">
                <h1>AR & VR</h1></div>
            <div class="content_subtitle">
                <h2>Solution & Contents</h2></div>
            <ul class="area_list">
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FXMirror</span> </div>
                    <div class="list_subtitle">The world's first O2O 3D Virtual Fitting Solution</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">VR Contents Platform</span> </div>
                    <div class="list_subtitle">Mobile App / Streaming Server</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">virtual Human</span> </div>
                    <div class="list_subtitle">3D Avatar <span class="slash">/</span> Virtual Makeup <span class="slash">/</span> Virtual Hair</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="area_contents content_2010">
        <div class="years"><img src="http://img.fxmirror.net/aboutus/img_2010.png?_=1.0.036" alt="2010"></div>
        <div class="desc">
            <div class="line_bar"></div>
            <div class="content_title">
                <h1>Mobile Graphics</h1></div>
            <div class="content_subtitle">
                <h2>Engine & Applications</h2></div>
            <ul class="area_list">
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FXLinks</span> </div>
                    <div class="list_subtitle">Mobile Physics Engine
                        <br/>Paper / Cloth / Fluid / Sand / Weather / Bubbles</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">Pensoul</span> </div>
                    <div class="list_subtitle">World's First Vector Based Sketch App</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="area_contents content_2007">
        <div class="years"><img src="http://img.fxmirror.net/aboutus/img_2007.png?_=1.0.036" alt="2007"></div>
        <div class="desc">
            <div class="line_bar"></div>
            <div class="content_title">
                <h1>Digital Human</h1></div>
            <div class="content_subtitle">
                <h2>Solutions</h2></div>
            <ul class="area_list">
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FX Avatar</span> </div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">Face Off</span> </div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FX Make-up & Hair</span> </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="area_contents content_2004">
        <div class="years"><img src="http://img.fxmirror.net/aboutus/img_2004.png?_=1.0.036" alt="2004"></div>
        <div class="desc">
            <div class="line_bar"></div>
            <div class="content_title">
                <h1>VFX Software</h1></div>
            <div class="content_subtitle">
                <h2>Engine & Plug-ins</h2></div>
            <ul class="area_list">
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">Qualoth</span> </div>
                    <div class="list_subtitle">Cloth simulation</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">ezCloth</span> </div>
                    <div class="list_subtitle">Game clothes
                        <br/>Animation</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FXHair</span> </div>
                    <div class="list_subtitle">Hair simulation</div>
                </li>
                <li class="list_row">
                    <div class="list_title">
                        <div class="dot"><img src="http://img.fxmirror.net/aboutus/img_dot.png?_=1.0.036" alt=""></div> <span class="title">FluX</span> </div>
                    <div class="list_subtitle">Fluid simulation</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="stay_connected">
    <h1 class="title_main stay">STAY CONNECTED</h1>
    <div class="title_sub_cont">
        <h2 class="title_sub stay">Subscribe to receive the latest updates and exclusive promotions from FXMirror and FIT'N SHOP</h2> </div>
    <div class="form_cont">
        <form id="subscribeEmail" name="subscribeEmail">
            <input type="text" name="uname" id="uname" class="ipt_name" placeholder='Your Name' />
            <input type="text" name="email" id="email" class="ipt_email" placeholder='Your Email' />
            <input type="submit" class="btn_connect send" value="SEND" /> </form>
        <div class="or">OR</div> <a class="btn_connect_cont btn_connect btn_contactus" href="/en/contact">CONTACT US</a> </div>
</div>