<div class="contents contact">
    <div class="content_hightlight">
        <div class="title_main">CONTACT US</div>
    </div>
    <div class="content_contact">
        <div class="contact_cont">
            <div class="contact_desc"> <span>Thank you for your interest in FXMirror.<br>Our team welcomes the opportunity to speak with you more about FXMirror.<br>Simply fill out the short form below.</span> </div>
            <div class="contact_input">
                <div class="contact_left">
                    <input class="contact_ipt" type="text" id="iptFname" name="iptFname" value="" placeholder="First Name">
                    <input class="contact_ipt" type="text" id="iptLname" name="iptLname" value="" placeholder="Last Name">
                    <input class="contact_ipt" type="text" id="iptEmail" name="iptEmail" value="" placeholder="Email Address">
                    <input class="contact_ipt" type="text" id="iptEmailChk" name="iptEmailChk" value="" placeholder="Confirm Email">
                    <input class="contact_ipt" type="text" id="iptPhone" name="iptPhone" value="" placeholder="Phone Number"> </div>
                <div class="contact_right">
                    <div class="select_style">
                        <select id="iptTopic" name="iptTopic">
                            <option disabled value="" selected="selected">Select a topic</option>
                            <option value="Products and Technologies Inquiry">Products and Technologies Inquiry</option>
                            <option value="Request a price list">Request a price list</option>
                            <option value="Website feedback">Website feedback</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <textarea class="border-box-mixin" id="iptMsg" name="iptMsg" placeholder="Message"></textarea>
                    <button id="sendBtn" type="button" name="sendBtn">SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stay_connected">
    <h1 class="title_main stay">STAY CONNECTED</h1>
    <div class="title_sub_cont">
        <h2 class="title_sub stay">Subscribe to receive the latest updates and exclusive promotions from FXMirror and FIT'N SHOP</h2> </div>
    <div class="form_cont">
        <form id="subscribeEmail" name="subscribeEmail">
            <input type="text" name="uname" id="uname" class="ipt_name" placeholder='Your Name' />
            <input type="text" name="email" id="email" class="ipt_email" placeholder='Your Email' />
            <input type="submit" class="btn_connect send" value="SEND" /> </form>
        <div class="or">OR</div> <a class="btn_connect_cont btn_connect btn_contactus" href="/en/contact">CONTACT US</a> </div>
</div>