<div class="contents features">
    <div class="content_hightlight">
        <h1 class="title_main">Using the latest AR (augmented reality) technology,<br/>virtually try on a variety of outfits through FXMirror</h1>
        <span class="desc">Shopping for clothes will never be the same</span>
    </div>

    <div class="content_features">
        <h1 class="title_main">MAIN FEATURES</h1>

        <div class="feature_gallery">
            <ol class="gallery_lists">
                <li class="gallery_list odd">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_01.jpg?_=1.0.036" alt="Instant Body Recognition">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Instant Body Recognition</p>
                        <span class="desc">Utilizing the latest in 3D imaging technology, FXMirror calculates the customers's body dimensions and is ready for use in seconds</span>
                    </div>
                </li>

                <li class="gallery_list">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_02.jpg?_=1.0.036" alt="Intuitive User Experience">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Intuitive User Experience</p>
                        <span class="desc">Intuitively browse and try on shop inventory using simple gestures or the tablet controller</span>
                    </div>
                </li>

                <li class="gallery_list odd">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_03.jpg?_=1.0.036" alt="Responsive 3D Virtual Fitting">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Responsive 3D Virtual Fitting</p>
                        <span class="desc">Immediately presents realistic 3D virtual fitting in sync with body movements</span>
                    </div>
                </li>

                <li class="gallery_list">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_04.jpg?_=1.0.036" alt="Convenient Mix and Match">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Convenient Mix and Match</p>
                        <span class="desc">Layer items and try on multiple style combinations</span>
                    </div>
                </li>

                <li class="gallery_list odd">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_05.jpg?_=1.0.036" alt="Easy to Share">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Easy to Share</p>
                        <span class="desc">Capture & share your fitting results across all major social networks in seconds</span>
                    </div>
                </li>

                <li class="gallery_list last">
                    <div class="gallery_list_img_cont">
                        <img class="gallery_list_img" src="http://img.fxmirror.net/feature/img_main_feature_06.jpg?_=1.0.036" alt="Take the Experience with You">
                    </div>
                    <div class="gallery_list_info">
                        <p class="title">Take the Experience with You</p>
                        <span class="desc">Instantly export your FXMirror experience for further mobile fitting and shopping on FIT'N SHOP</span>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="content_fxmirror">
        <div class="title_cont">
            <h1 class="title_main">COMPONENTS OF FXMIRROR</h1>
            <span class="desc">Our system utilizes patented technology, virtually recreating the shopper's body<br/>and skeleton based on the analysis of the heights, feature points, cloth DB implementation,<br/>depth map data and shows the 3D garment fitting simulation in real-time.</span>
        </div>

        <div class="size_img_area">
            <span class="title">DISPLAY SIZE AVAILABLE IN</span>
            <img class="img_mirrior_size" src="http://img.fxmirror.net/feature/img_mirror_size.jpg?_=1.0.036" alt="DISPLAY SIZE AVAILABLE IN">
        </div>

        <div class="product_img_area">
            <span class="title">ALL-IN-ONE MODEL INCLUDES</span>
            <img class="img_mirrior_model" src="http://img.fxmirror.net/feature/img_mirror.jpg?_=1.0.036" alt="ALL-IN-ONE MODEL INCLUDES">
        </div>

        <div class="hardware">
            <h1 class="title">HARDWARE</h1>
            <ul class="lists">
                <li class="list processor">
                    <div class="list_title">Processor</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_01.jpg?_=1.0.036" alt="Processor">
                </li>

                <li class="list kinect">
                    <div class="list_title ">Kinect Camera</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_02.jpg?_=1.0.036" alt="Kinect Camera">
                </li>

                <li class="list tablet_stand">
                    <div class="list_title ">Tablet with Stand</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_03.jpg?_=1.0.036" alt="Tablet with Stand">
                </li>

                <li class="list wifi">
                    <div class="list_title ">WiFi Router</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_04.jpg?_=1.0.036" alt="WiFi Router">
                </li>
            </ul>
        </div>
        <div class="software">
            <h1 class="title">SOFTWARE</h1>
            <ul class="lists">
                <li class="list fitting">
                    <div class="list_title ">Virtual Fitting<br/>Application</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_05.jpg?_=1.0.036" alt="Virtual Fitting&lt;br/&gt;Application">
                </li>

                <li class="list clothes">
                    <div class="list_title ">Cloth Authoring<br/>Tool (CAT)</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_06.jpg?_=1.0.036" alt="Cloth Authoring&lt;br/&gt;Tool (CAT)">
                </li>

                <li class="list ctrl">
                    <div class="list_title ">Tablet Controller<br/>Application</div>
                    <img class="list_img_icon" src="http://img.fxmirror.net/feature/img_mirror_icon_07.jpg?_=1.0.036" alt="Tablet Controller&lt;br/&gt;Application">
                </li>


            </ul>
        </div>

    </div>

    <div class="content_cat">
        <div class="cat_cont">
            <h1 class="title_main">CAT: CLOTH AUTHORING TOOL</h1>
            <div class="cat_desc">
                <span>Our Cloth Authoring Tool (CAT) lets you create 3D cloth based on just front and back photos within 5-10 minutes.<br/>This creation process is about 20-30 times faster than the other 3D cloth creation tools in the market.<br/>Furthermore, it delivers photo-realistic results capturing the correct look and feel of the original garments.</span>
            </div>
            <div class="img_area">
                <div class="large_l_img"></div>
                <div class="right_img_top"></div>
                <div class="right_img_bottom"></div>
            </div>
            <div class="margin_area"></div>
        </div>
    </div>

    <div class="content_kids">
        <div class="kids_cont">
            <h1 class="title_main">FXMIRROR FOR KIDS</h1>

            <div class="img_lists">
                <div class="img_list">
                    <a href="" class="img_click_area"
                       data-video-area="https://player.vimeo.com/video/121097679"
                       data-video-cn-area="http://player.youku.com/embed/XOTI2MDA0MDY0"
                    >
                        <div class="img_kid_cont">
                            <img class="img_kid" src="http://img.fxmirror.net/feature/img_kids_01.jpg?_=1.0.036" alt="FXMIRROR FOR KIDS">
                        </div>
                        <div class="playbtn_cont">
                            <img src="http://img.fxmirror.net/common/btn_play_off.png?_=1.0.036" alt="play video" />
                        </div>
                    </a>
                </div>

                <div class="img_list">
                    <div class="img_kid_cont">
                        <img class="img_kid" src="http://img.fxmirror.net/feature/img_kids_02.jpg?_=1.0.036" alt="FXMIRROR FOR KIDS">
                    </div>
                </div>

                <div class="img_list">
                    <div class="img_kid_cont">
                        <img class="img_kid" src="http://img.fxmirror.net/feature/img_kids_03.jpg?_=1.0.036" alt="FXMIRROR FOR KIDS">
                    </div>
                </div>

                <div class="img_list">
                    <div class="img_kid_cont">
                        <img class="img_kid" src="http://img.fxmirror.net/feature/img_kids_04.jpg?_=1.0.036" alt="FXMIRROR FOR KIDS">
                    </div>
                </div>
            </div>

            <div class="kids_info_area">
                <h2 class="kids_info_title">Enjoyable Family Shopping Experience</h2>
                <div class="kids_info_desc_area">
                    <span class="kids_info_desc">Designed specifically with our young ones in mind, FXMirror for Kids offers children a gamified virtual fitting experience.Same features as mom or dad's, just for you!</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content_benefits" >
        <div class="benefits_conts_bg"></div>
        <div class="benefits_conts">

            <h1 class="title_main">BENEFITS</h1>

            <div class="graph_cont">
                <img class="graph_bg" src="http://img.fxmirror.net/feature/img_benefit.png?_=1.0.036" alt="BRANDS&lt;br/&gt;&amp;&lt;br/&gt;RETAILERS">
                <span class="circle_title">BRANDS<br/>&<br/>RETAILERS</span>

                <div class="box_lists_cont">
                    <div class="box_list left top">
                        <span class="box_list_txt">Increase<br/>Brand Awareness</span>
                    </div>
                    <div class="box_list right top">
                        <span class="box_list_txt">Innovative<br/>Marketing Solution</span>
                    </div>
                    <div class="box_list left bottom trd_line">
                        <span class="box_list_txt">Customer Preferences<br/>& Shopping Propensity<br/>Data Management</span>
                    </div>
                    <div class="box_list right bottom trd_line">
                        <span class="box_list_txt">Optimized<br/>Touch Points<br/>with Customers</span>
                    </div>
                </div>
            </div>

            <div class="graph_cont snd">
                <img class="graph_bg" src="http://img.fxmirror.net/feature/img_benefit.png?_=1.0.036" alt="CUSTOMERS">
                <span class="circle_title">CUSTOMERS</span>

                <div class="box_lists_cont">
                    <div class="box_list left top">
                        <span class="box_list_txt">Enjoyable<br/>Shopping Experience</span>
                    </div>
                    <div class="box_list right top">
                        <span class="box_list_txt">Fast & Convenient<br/>Fitting for All Body Sizes</span>
                    </div>
                    <div class="box_list left bottom trd_line">
                        <span class="box_list_txt">Smart Comparison<br/>& Easy Sharing</span>
                    </div>
                    <div class="box_list right bottom trd_line">
                        <span class="box_list_txt">Intergrated Platform<br/>via Mobile App</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>