<footer class="footer">
    <div class="footer_inner"> <span class="copylight">© 2016-2017 <a style="color:#fff;margin-left:1rem" href="http://thevirtualtechies.com">Virtual Techies Pvt Ltd</a>. All rights reserved.</span>
        <ul class="sns">
            <li class="icon_list">
                <a class="icon_list_link" target="_blank" href="https://www.instagram.com/fxmirror3d/">
                    <div class="instagram">instagram</div>
                </a>
            </li>
            <li class="icon_list">
                <a class="icon_list_link" target="_blank" href="https://www.facebook.com/fxmirror3d">
                    <div class="facebook">facebook</div>
                </a>
            </li>
        </ul>
    </div>
</footer>