<nav class="nav en" style="">
    <div class="nav_inner">
        <div class="logo_cont" style="">
            <h1>
                <a href="/en/main">
                    <img class="logo" src="img/logo.png" alt="logo" />
                </a>
            </h1> </div>
        <ul class="lang_cont">
            <li>
                <a data-lang="en" class="lang_btn en" href="/en/main"> <img data-lang="en" src="http://img.fxmirror.net/common/btn_lang_en.png?_=1.0.036" alt="English" /> </a>
                <a data-lang="zh" class="lang_btn zh" href="/zh/main"> <img data-lang="zh" src="http://img.fxmirror.net/common/btn_lang_zh.png?_=1.0.036" alt="Chinese" /> </a>
                <a data-lang="kr" class="lang_btn kr" href="/kr/main"> <img data-lang="kr" src="http://img.fxmirror.net/common/btn_lang_ko.png?_=1.0.036" alt="Korean" /> </a>
            </li>
        </ul>
        <div class="lang_cont_m_btn">
            <ul class="lang_cont_m_btn_list">
                <li>
                    <a data-lang="en" class="m_btn_list en" href="#"> <img src="http://img.fxmirror.net/common/btn_lang_en_m.jpg?_=1.0.036" alt="English" /> </a>
                    <a data-lang="zh" class="m_btn_list zh" href="#"> <img src="http://img.fxmirror.net/common/btn_lang_zh_m.jpg?_=1.0.036" alt="Chinese" /> </a>
                    <a data-lang="kr" class="m_btn_list kr" href="#"> <img src="http://img.fxmirror.net/common/btn_lang_ko_m.jpg?_=1.0.036" alt="Korean" /> </a>
                </li>
            </ul>
        </div>
        <div class="lang_cont_m">
            <ul class="nav_list">
                <li data-lang="en"><a data-lang="en" class="nav_list_01" href="/en/main">ENGLISH</a></li>
                <li data-lang="zh"><a data-lang="zh" class="nav_list_02" href="/zh/main">CHINESE</a></li>
                <li data-lang="kr"><a data-lang="kr" class="nav_list_03" href="/kr/main">KOREAN</a></li>
            </ul>
        </div>
        <div class="nav_list_btn" id="navBtn">
            <div class="bar"></div>
            <div class="bar" style="top:10px;"></div>
            <div class="bar" style="top:20px;"></div>
        </div>
        <div class="nav_list_cont" style="height:0px;">
            <ul class="nav_list">
                <li><a class="nav_list_01" href="/features">FEATURES</a></li>
                <li><a class="nav_list_02" href="/fitnshop">FIT'N SHOP</a></li>
                <li><a class="nav_list_03" href="/about">ABOUT US</a></li>
                <li><a class="nav_list_04" href="/blog">BLOG</a></li>
                <li><a class="nav_list_05" href="/contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>