<div class="contents main">
    <div class="content_hightlight">
        <h1 class="title_main">DOUBLE THE FUN</h1>
        <h2 class="title_sub">The world's first online-to-offline virtual fitting solution</h2> <span class="brochure"><a target="_blank" href="http://img.Tryy It Mirror.net/brochure/Tryy It Mirror_Brochure_English.pdf?_=1.0.036">Download Brochure</a></span>
        <div class="img_cont">
            <a href="#" class="img_click_area" data-video-area="https://player.vimeo.com/video/150233652" data-video-cn-area="http://player.youku.com/embed/XMTQzMDA0MDA3Mg==">
                <div class="img_main_hightlight"></div>
                <div class="playbtn_cont"> <img src="img/btn_play_off.png" alt="play video" /> </div>
            </a>
        </div>
    </div>
    <div class="content_mobile">
        <h1 class="title_sub">Bridging the gap between the <span class="font_regular">ONLINE</span> and <span class="font_regular">OFFLINE</span> retail experience.</h1>
        <h2 class="title_main"><span class="font_semibold font_italic">See</span> it on, without <span class="font_semibold font_italic">Putting</span> it on!</h2>
        <div class="img_mobile"> <img src="img/img_video_icon.png" alt="&lt;span class=&quot;font_semibold font_italic&quot;&gt;See&lt;/span&gt; it on, without &lt;span class=&quot;font_semibold font_italic&quot;&gt;Putting&lt;/span&gt; it on!" /> </div>
    </div>
    <div class="content_features">
        <h1 class="title_main">MAIN FEATURES</h1>
        <div class="features_list_cont">
            <dl class="features_list clothes"> <dt class="img_cont">
                    <img src="img/img_feature_icon_01.jpg" alt="Try on items the easy way,&lt;br/&gt;virtually!">
                </dt> <dt class="title">Try on items the easy way,<br/>virtually!</dt>
                <dd class="desc">Tryy It Mirror automatically measures body dimensions in real time, letting users switch between items quickly while fitting to their unique body. Say ‘goodbye’ to fitting room waiting lines!</dd>
            </dl>
            <dl class="features_list items"> <dt class="img_cont">
                    <img src="img/img_feature_icon_02.jpg" alt="Detailed Information of&lt;br/&gt;Selected Items">
                </dt> <dt class="title">Detailed Information of<br/>Selected Items</dt>
                <dd class="desc">Offer essential item information, such as, price, color, and available stock in one central location</dd>
            </dl>
            <dl class="features_list software"> <dt class="img_cont">
                    <img src="img/img_feature_icon_03.jpg" alt="Intuitive Database Production&lt;br/&gt;and Management Software">
                </dt> <dt class="title">Intuitive Database Production<br/>and Management Software</dt>
                <dd class="desc">With just two simple front and back photos of inventory items, Tryy It Mirror's Cloth Authoring Tool creates photo-realistic 3D images within 10 minutes
                    <br/>(compared to 3-5 hours for competitors)</dd>
            </dl>
            <dl class="features_list ad"> <dt class="img_cont">
                    <img src="img/img_feature_icon_04.jpg" alt="Advertisement Features">
                </dt> <dt class="title">Advertisement Features</dt>
                <dd class="desc">Utilize Tryy It Mirror to display your digital lookbook or as an advertisement display while in standby mode</dd>
            </dl>
        </div>
    </div>
    <div class="content_mirror"></div>
    <div class="content_asseenon">
        <h1 class="title_main">AS SEEN ON</h1>
        <ul class="asseenon_list">
            <li class="cosmo">COSMOPOLITAN</li>
            <li class="star">STARTRIBUNE</li>
            <li class="wwb">WWB</li>
            <li class="toronto">TORONTO IS FASHION</li>
            <li class="who">WHOWIRED</li>
            <li class="boston">BOSTON.COM</li>
            <li class="miami">THE MIAMI HERALD</li>
            <li class="ravi">RAVI FAMOUS</li>
        </ul>
    </div>
</div>
<div class="stay_connected">
    <h1 class="title_main stay">STAY CONNECTED</h1>
    <div class="title_sub_cont">
        <h2 class="title_sub stay">Subscribe to receive the latest updates and exclusive promotions from Tryy It Mirror and FIT'N SHOP</h2> </div>
    <div class="form_cont">
        <form id="subscribeEmail" name="subscribeEmail">
            <input type="text" name="uname" id="uname" class="ipt_name" placeholder='Your Name' />
            <input type="text" name="email" id="email" class="ipt_email" placeholder='Your Email' />
            <input type="submit" class="btn_connect send" value="SEND" /> </form>
        <div class="or">OR</div> <a class="btn_connect_cont btn_connect btn_contactus" href="/en/contact">CONTACT US</a> </div>
</div>